button {
    margin-top: 1em;
    margin-right: 2em;
}

table.table {
    margin-top: 2em;
}

.btn btn-info {
    display:inline-block;
    height:10px;
    width:10px;
    border-radius:10px;
}

/*.invalid-feedback {*/
/*    display: block;*/
/*}*/
