.container {
    background-color: lightgrey !important;
}

.cv-img {
    margin: 5px;
    width: 150px;
}

.header {

}

contact {
    font-weight: bold;
}

.progress-bar.my-bar {
    background-color: #1e7e34;
}

.progress.my-progress {
    height: 0.5rem;
    margin-bottom: 5px;
}

.row.social-connect {
    margin-bottom: 5px;
    margin-top: 10px;
}

h2{
    margin-top: 10px;
}

.row.footer {
    border: 5px solid black;
    margin-bottom: 5px;
}