header span {
    font-weight: bold;
}

header {
    background-color: lightgrey;
}

header img {
    max-width: 200px;
    margin: 20px 20px;
    padding: 5px 5px;
    border: 2px black solid;
}
header h1, h4 {
    text-transform: uppercase;

}

.aboutMe{
    padding: 30px 10px 10px 10px;
    font-family: Rockwell, serif;
}
.column{
    float: right;
}
.col{
   
}
