li, p {
    color: green;
}

#introduction_header {
    border-color: darkred;
    border-width: 2px;
    border-style: solid;
}

.introduction_header {
    font-family: "Arial Narrow";
}

[href='https://yandex.com'] {
    display: block;
    border-bottom: 2px black solid;
    border-top: 2px red solid;
    border-left: 2px orange solid;
    border-right: 20px cyan dashed;
}

p[x=y] {
    border: 4px black solid;
    border-radius: 5px;
}

p.footer {
    background-color: black;
    color: white;
}

div img {
    width: 200px;
    height: auto;
}






